
body{
	background-color:#AA8479;
}

span{
	font-size: 3em;
}

h1{
	text-align: center;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	background-color: #fff;
	width:400px;
	font-family:cooper black ;
	box-shadow:  9px 4px #888888
}

h1{
	margin-left:  150px;
	margin-bottom: 50px;
	transition: all 1s;
}

h1:hover{
	transform: scale(1.1);
}

p{
	font-size: 25px;
	font-family:'Bradley Hand ITC';
}


.class1{
	-webkit-border-radius: 5px;
	cursor: pointer;
}

.class1{
	transition: all;
}
.class1:hover{
	transform: scale(1.1);
}

.class1{
	float: right;
}

.please {
	color: #479
}

.button{
	text-align: center;
	-webkit-border-radius: 5px;
	cursor: pointer;
	color: rgba(0,0,255,0.5);
}