p{
	margin-left: 0px;
}

body{
	background-color:#AA8499;
}

p{
	color:white;
	-webkit-border-radius: 5px;
	padding: 5px;
}

p{
	border: 2px solid blue;
	width: 40px
}

p{
animation: pulse 5s infinite;
}

@keyframes pulse {
	0%{background-color: #FF9674
	}
	100%{
		background-color: #888888
	}
}


form{
	float: right;
	color: brown;
	padding: 1rem;
	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
	border: 1px solid brown;
	background-color:#AA8479;
	width: 400px
	}

select{
	color: brown;
}

span{
	color: brown;
}


.border {
    border-top: 1px solid #fff;
    margin: 10px 0 10px 0;
}




h2 {
    font-size: 16px;
    font-weight: lighter;
    color: #FFF;
    margin: 12px 0 5px 0;
    text-align: center;
}



h1 {
    font-size: 44px;
    color: #FFF;
    line-height: 44px;
    text-align: center;
}

h1 {
    font-size: 1.8em;
    font-weight: normal;
}

.for .am{
	-webkit-border-radius: 5px;
	 margin: 3px 0 3px 0;
}
.for .go{
	cursor: pointer;
}

.an{
	color: #fff
}


*{
	background-image: url(IMG_20191016_083222_2.jpg);
}